<div id="sort-modal" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">{{ translator.get('Delete') }}</h4>
            </div>
            <div class="modal-body">
                <p>{{ translator.get('InfoDelete') }}</p>
            </div>
            <div class="modal-footer">
                <button id="confirm" type="button" class="btn btn-primary">{{ translator.get('Delete') }}</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">{{ translator.get('Cancel') }}</button>
            </div>
        </div>
    </div>
</div>