<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} - Funnel CMS</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ assetUrl }}/css/stylesheet.css"/>
    <link href='//fonts.googleapis.com/css?family=Roboto:500,400italic,100,700italic,300,700,500italic,100italic,300italic,400' rel='stylesheet' type='text/css'>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{{ assetUrl }}/favicon.png">

    {% block stylesheets %}{% endblock %}
</head>
<body>
    {% include 'templates/partials/navigation.twig' %}
    <div class="container">
        <h1>{% block pageTitle %}{% endblock %}</h1>
        <hr/>
        {% include 'templates/partials/messages.twig' %}
        {% block content %}{% endblock %}
    </div>

   <div class="container">
       <footer>Funnel CMS gemaakt door <a href="http://www.rubenvermeulen.be" target="_blank">Ruben Vermeulen</a></footer>
   </div>

    <!-- jQuery (necessary for Bootstrap's Javascript plugins) -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <!-- Lastest compiled minified bootstrap Javascript -->
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Javascript -->
    {% block scripts %}{% endblock %}
</body>
</html>