<html>
<head>
    <title>Competitie Manager</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="font-family: 'Helvetica Neue', Helvetica, Arial, 'Lucida Grande', sans-serif; font-size: 14px">
    <p>Hallo</p>
    <br/>

    {% block content %}{% endblock %}

    <p>
        - - - - - - - - - - - - - - - -
    </p>
    <p>Competitie Manager gemaakt door <a href="http://www.rubenvermeulen.be">Ruben Vermeulen</a></p>
</body>
</html>
