/* Menu bar*/

.navbar-inverse {
    background: #009d7e;
    border-bottom: 1px solid #00876C;
}

.navbar-inverse .navbar-nav > li > a,
.navbar-inverse .navbar-brand {
    color: #ffffff;
    transition: background .1s linear;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:active,
.navbar-inverse .navbar-brand:active,
.navbar-inverse .navbar-brand:hover {
    background: #00876C;
    color: #fff;
}

/*
 * Responsive nav button.
 */

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus,
.navbar-inverse .collapsed {
    background: #009d7e;
}

.navbar-inverse .navbar-toggle {
    border: 1px solid #00876C;
}

.navbar-inverse .navbar-toggle .icon-bar {
    background: #fff;
}

/*
 * Dropdown
 */

.navbar-inverse .navbar-nav > .open > a,
.nav .open>a {
    background: #009d7e !important;
    color: #fff !important;
}

.navbar-collapse {
    border: 0;
}

/* Button */

.btn-primary {
    background: #009d7e;
    border-color: #00876C;
    transition: background .2s linear;
}

.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active
.btn-primary:active:hover,
.btn-primary:active:focus {
    background: #00876C;
    border-color: #00876C;
}

/* Toolbar */

.toolbar {
    margin-bottom: 10px;
}