{% extends 'templates/default.twig'%}

{% block title %}Gebruikers{% endblock %}
{% block pageTitle %}Gebruikers{% endblock %}

{% block content %}
    <p><a href="{{ urlFor('user.create') }}" class="btn btn-primary">Nieuw</a></p>
    {% if users is empty %}
        <p>Er zijn nog geen gebruikers.</p>
    {% else %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Gebruikersnaam</th>
                    <th>Rechten</th>
                    <th>Actie</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user.username }}</td>
                        <td>{{ user.isAdmin ? 'Admin' : 'Normaal' }}</td>
                        <td><a href="{{ urlFor('user.edit', {userId: user.id}) }}">Wijzigen</a></td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% endif %}
{% endblock %}

