{% extends 'templates/default.twig' %}

{% block title %}Home{% endblock %}
{% block pageTitle %}Home{% endblock %}

{% block content %}
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam eveniet minima possimus quasi quisquam quo repudiandae sunt? A aperiam consequuntur deleniti eaque est exercitationem iusto minima numquam quam recusandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam eveniet minima possimus quasi quisquam quo repudiandae sunt? A aperiam consequuntur deleniti eaque est exercitationem iusto minima numquam quam recusandae?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aperiam eveniet minima possimus quasi quisquam quo repudiandae sunt? A aperiam consequuntur deleniti eaque est exercitationem iusto minima numquam quam recusandae?</p>
{% endblock %}

